---
name: Lint

on:  # yamllint disable-line rule:truthy
  push:
  pull_request:

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libsystemd-dev
      - uses: actions/setup-go@v6
        with:
          go-version: 1.23
          stable: false
      - uses: actions/checkout@v5
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          args: --timeout 120s --max-same-issues 50

      - name: Bearer
        uses: bearer/bearer-action@v2
